# do not commit intellij stuff
**/.idea
*.iml

# do not commit target dir
**/target

# quarkus' object store directory is in the root of the project
**/ObjectStore

# ignore binaries
**/*.bin
