{#include base}
    {#body}
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5">Welcome to Shadowbadge</h1>
            <br/>
            <p>The badge project based on <a href="https://github.com/sqfmi/badgy">Badgy</a></p>
            <p><img class="img-fluid" style="width: 50%" src="/img/shadowbadge_large.jpg"></p>
            <p>This is <a href="https://github.com/chrisruffalo/shadowbadge">Open Source Software</a>!</p>
            <p>Made with care using <a href="https://quarkus.io/">Quarkus</a> and hosted on <a href="https://www.openshift.com/">OpenShift</a></p>
            <p>Special thanks to <a href="https://porkbun.com/">Porkbun</a></p>
        </div>
    </div>
</div>
    {/body}
{/include}
