<!DOCTYPE html>
<html th:replace="~{templates/base.html :: base_page(~{::title}, ~{::div})}">

    <title>Shadowbadge :: Home</title>

    <div th:if="${error}">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <h5>Error!</h5>
            <hr>
            <p>An error occurred while processing your request: <span th:text="${errorMsg}"></span></p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div th:if="${badges!=null and !badges.empty}">
        <table class="table shadowbadge-table-hover">
           <thead>
            <tr>
                <th scope="col" style="border-top-width: 0px">Your Badges</th>
                <th scope="col" style="border-top-width: 0px"></th>
            </tr>
           </thead>
            <tbody>
                <tr th:each="badge : ${badges}" class="detailRow" th:onclick="@{|javascript:rowClicked('/badges/secure/${badge.badgeId}/detail.html')|}">
                    <td class="text-truncate align-middle">
                        <div>
                            <p style="margin-bottom: 0px"><strong><span th:text="${#strings.abbreviate(badge.info.displayName, 25)}"></span></strong></p>
                            <p style="margin-bottom: 0px"><small><span class="text-muted" th:text="${#strings.abbreviate(badge.shortId, 30)}"></span></small></p>
                        </div>
                    </td>
                    <td class="text-right align-middle">
                        <button class="btn btn-danger" th:onclick="@{|javascript:unlcaimModal(event, '#unclaimModal', '#unclaimModalDisplay', '#unclaimLocation', '${badge.info.displayName}', '/badges/secure/${badge.badgeId}/unclaimAction')|}">Unclaim</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Unclaim Modal -->
        <div class="modal fade" id="unclaimModal" tabindex="-1" role="dialog" aria-labelledby="unclaimModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Unclaim <span id="unclaimModalDisplay">TO UNCLAIM</span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Clicking the "unclaim" button below will cause the badge to be unassociated from your account and the badge information to be deleted.
                            As a result your badge will no longer be able to access this info and the badge will not be able to update until reclaimed.</p>
                        <p>This action cannot be undone.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a id="unclaimLocation" class="btn btn-danger" href="#">Unclaim</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${badges==null or badges.empty}">
        <h3>You have no claimed badges</h3>
        <p>Please upload the proper firmware to your Badgy device and then connect it to wifi. See the <a href="/downloads.html">downloads</a> page for more details.</p>
    </div>

</html>